body{
    background-color: #e6e6e6;
}
.my{
    background-color: #57f0ff;
    border: 2px solid #2516f9;
    display: inline-block;
    padding: 25px;
    box-shadow: 2px 2px 2px 1px;
}
h1{
    margin: 0;
    padding-left: 84px;
}
label{

    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 25px;
}
button{
    width: 62px;
    margin: 0 auto;
}
.all{
    padding-left: 84px;
}
.calcAll{
    width: 40%;
    padding: 5px;
}